"tools/data/keys" 
"tools/data/ldr_curves" 
"tools/data/vsh_curves" 
"tools/data/zlib1.dll" 
"tasks/unsafe/add_356keys_to_appldr341.tcl" 
"tasks/unsafe/add_360keys_to_appldr355.tcl" 
"tasks/unsafe/patch_appldr.tcl" 
"tasks/nonretail/patch_nas_plugin.tcl" 
