"tools/data/keys" 
"tools/data/ldr_curves" 
"tools/data/vsh_curves" 
"tools/data/zlib1.dll" 
"tasks/unsafe/add_356keys_to_appldr341.tcl" 
"tasks/unsafe/add_360keys_to_appldr355.tcl" 
"tasks/unsafe/patch_appldr.tcl" 
"tasks/nonretail/patch_nas_plugin.tcl" 
"tasks/broken_bluetooth.tcl" 
"tasks/broken_bluray.tcl" 
"tasks/change_coldboot_files.tcl" 
"tasks/change_ssl_cer.tcl" 
"tasks/change_theme.tcl" 
"tasks/change_version.tcl" 
"tasks/homebrew_category.tcl" 
"tasks/jailbait.tcl" 
"tasks/language_pack.tcl" 
"tasks/patch_category_game.tcl" 
"tasks/patch_emer_init.tcl" 
"tasks/patch_lv2.tcl" 
"tasks/patch_nas_plugin.tcl" 
"tasks/patch_profile.tcl" 
"tasks/patch_shop.tcl" 
"tasks/patch_shop2.tcl" 
"tasks/patch_translations.tcl" 
"tasks/spoof_version.tcl" 
"tasks/tv_category.tcl" 
