<Settings>
    <language>German_Deutsch</language>
<BUILD_DIR>C:/Users/cfwprophet/Desktop/TOOLS/ps3mfw/Work</BUILD_DIR>
<PS3_KEYS>C:/Users/cfwprophet/Desktop/TOOLS/ps3mfw/tools/.ps3</PS3_KEYS>
    <Theme>xpnative</Theme>
    <IN_FILE>C:/Users/cfwprophet/Desktop/TOOLS/ps3mfw/PS3UPDAT430.PUP</IN_FILE>
    <OUT_FILE>C:/Users/cfwprophet/Desktop/TOOLS/ps3mfw/test.pup</OUT_FILE>
<tasks> auto_gen_cfw</tasks>
</Settings>